@charset "UTF-8";

/* 
Paleta de cores
roxo: #3C184E
Branco: #ffff
sombreado banner: #1f26875e
sombreado serviços: #0000005c
cor banner seçao 1: #ffffffc4

Fontes
sans-serif 
*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

/* 1 seção */

.secao-banner {
    width: 85vw;
    padding: 120px 80px;
    background-image: url('img/banner-topo.jpg');
    background-position: center;
    background-size: cover;
}

.logo {
    max-width: 250px;
    color: #3c184e;
    margin-bottom: 30px;
}

.logo img {
    width: 30px;
    margin-right: 5px;
}

#nomeloja {
    font-size: 35px;
    margin: 0 0 5px 0;
    display: inline;
}

#slogan {
    font-size: 14px;
    text-align: center;
    margin: 0;
}

.banner {
    max-width: 1024px;
    border-radius: 10px;
    padding: 40px;
    margin-top: 70px auto 0 auto;
    background-color: #ffffffc4;
    box-shadow: 0 8px 32px #1f26875e;
}

.banner h1 {
    font-size: 60px;
    color: #3c184e;
    text-align: center;
    font-weight: 800;
    margin: 0 0 40px 0;
}

.banner p {
    width: 200px;
    padding: 10px 25px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #3c184e;
    font-size: 20px;
    text-align: center;
}

.banner a {
    text-decoration: none;
    color: #ffff;
}

.banner img {
    width: 20px;
}

/* 2 seção */

.secao-servicos {
    width: 85vw;
    padding: 120px 80px;
}

.secao-servicos h3 {
    font-size: 36px;
    color: #3c184e;
    text-align: center;
    margin: 0 0 45px 0;
}

#listserv {
    max-width: 800px;
    margin: 0 auto 50px auto;
    color: #3c184e;
}

#listserv li {
    font-size: 20px;
    margin: 0 0 20px 0;
}

#listserv span, .secao-redes span {
    font-weight: 700;
    font-style: italic;
}

#imgserv {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

#imgserv img {
    border-radius: 5px;
    box-shadow: 3px 6px 10px 6px #0000005c;
}

/* 3 e 5 seção */

.secao-redes {
    padding: 120px 80px;
    background-color: #3c184e;
    text-align: center;
}

.secao-redes p {
    max-width: 800px;
    margin: 0 auto 50px auto;
    font-size: 40px;
    color: #fff;
    text-align: center;
}

.logos {
    text-align: center;
}

.logos a {
    text-decoration: none;
    margin: 0px 20px;
}

.logos img {
    width: 50px;
    height: 50px;
}

/* 4 seção */

.secao-marcas {
    width: 85vw;
    padding: 120px 80px;
}

.secao-marcas h3 {
    font-size: 36px;
    color: #3c184e;
    text-align: center;
    margin: 0 0 45px 0;
}

.secao-marcas div {
    max-width: 800px;
    margin: 0 auto;
}

.secao-marcas img {
    width: 148px;
    height: 148px;
    margin: 0 15px;
}

/* 6 seção */

.secao-maps {
    width: 85vw;
    padding: 120px 80px;
    text-align: center;
}

.secao-maps h3 {
    font-size: 36px;
    color: #3c184e;
    text-align: center;
    margin: 0 0 45px 0;
}

.secao-maps p {
    font-size: 20px;
    color: #3c184e;
    text-align: center;
    margin: 0 0 45px 0;
}

.secao-maps iframe {
    width: 800px;
    height: 450px;
}

/* 7 seção */

.secao-rodape {
    width: 98.7vw;
    padding: 10px 0px;
    background-color: #3c184e;
}

.secao-rodape p {
    color: #fff;
    font-size: 12px;
    text-align: center;
}